.fabControl {
    position: fixed !important;
    bottom: 16px !important;
    left: 16px !important;
    z-index: 99999 !important;
}

html[data-betterdxnet="727"] .fabControl {
    opacity: 0 !important;
    visibility: hidden !important;
}
